.assignment-calendar {
    width: 100%;
    overflow-x:auto;
}

.assignment-calendar .fc{
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #fef8fc;
    box-shadow: 0 2px 12px rgba(52, 51, 51, 0.7);
}

.assignment-calendar .fc-event-title {
   white-space: normal; 
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 12px;

}

